<nav>
    <div class="container navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <div class="row">
                <div style="text-align: left">
                    <li class="navbar-brand"><a href="/" class="nav-link">ExpressBooks</a></li>
                </div>

                <div style="text-align: right">
                    <li class="nav-item"><a href="/" class="nav-link">Books</a></li>
                    <li class="nav-item"><a href="/books/" class="nav-link">Add a New Book</a></li>
                    <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
                </div>
            </div>
        </ul>
    </div>
</nav>
