<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>

    <body class="bg-secondary">
        <div class="fluid-container">
            <header>
                <%- include('partials/nav.ejs') %>
            </header>

            <main>
                <div class="container mt-3 p-3 bg-light">
                    <h1>About</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet arcu faucibus turpis
                        accumsan ullamcorper. Fusce tincidunt sem ac velit rutrum suscipit. In bibendum ullamcorper
                        risus, a rhoncus augue imperdiet sed. Suspendisse enim felis, commodo quis purus quis, dignissim
                        sagittis ex. Pellentesque interdum sapien purus, sit amet viverra ipsum tempor gravida. Integer
                        rutrum eros justo, sed hendrerit nibh euismod sed. In pulvinar efficitur euismod. Nullam mi
                        sapien, tincidunt in venenatis a, rutrum et justo. Donec lacinia urna urna, eu ultricies massa
                        hendrerit tincidunt. In porttitor accumsan erat. Vivamus dapibus, justo vitae varius imperdiet,
                        magna orci consequat sapien, eu molestie ex dui ac libero.</p>
                </div>
            </main>
        </div>
    </body>

</html>
